body {
  font-size: 40px;
  background-color: bisque;
  font-family: fantasy;
  text-align: center;
}
#navbar {
  position: fixed;
  bottom:40%;
  background-color: rgba(255, 102, 102, 20%);
  font-size: 20px;
  /* margin-left: 0%;  */
  padding:20px;
  border-radius: 17%;
  border-color: rgb(206, 206, 233);
  border-top: 3px;
  font-family:monospace;
}
#logo{
    position: fixed;
    right: 3%;
    bottom:40%;
    width:300px;
    opacity: 0.8;
    border-radius: 17%;
    
}

#list {
  text-align: left;
  padding-left: 45%;
}
#welcome {
  font-style:inherit;
  color:rgb(241, 224, 188);
  font-size: 140%;
  background:linear-gradient(rgb(179, 24, 89), bisque);
  padding: 80px;
  font-family:fantasy;
}

#daniel{
/* background-color:rgb(240, 0, 80); */
padding: 50px;
margin-right: 500px;
margin-left: 500px;
border-radius: 50%;
background:linear-gradient(pink,black);
color:rgb(246, 133, 167);

}
.main-section{
    color:mediumvioletred;
    background: rgb(255, 159, 199);
    margin: 70px;
    padding-top:35px ;
    padding-bottom:35px ;
    border-radius: 35px;
}
header{
color:rgb(102, 0, 63);
margin:10px;
}
#MENU{
    background: palevioletred;
    color: peachpuff;
    font-size: 145%;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
#earrings{
    /* border-style:groove; */
}
#links{
    font-size: 26px;
    color: rgb(255, 179, 179);
    background-color:brown ;
    padding: 15px;
    border-radius: 5%;
    margin:56px;
}

/* On screens that are 600px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  body {
    background-color: rgba(178, 180, 250, 0.63);
  }
}
